body, html {

	margin: 0;
	padding: 0;

	font-size: 10px;

	overflow-x: hidden;

	-webkit-overflow-scrolling: touch;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face{
	font-family: "titulos"; 
	src: url("../fonts/own-fonts/Poppins-Regular.ttf");
}

@font-face{
	font-family: "otros"; 
	src: url("../fonts/own-fonts/venus rising rg.ttf");
}
//INICIO//////////////////////////////////////////////////////////////////////////////////////////////////////
.container-fluid{
	background-color: transparent;
.abuelo {
	position: relative;
	.bolitas{
		background: red;
		margin-top: 35px;
		position: absolute;
		width: 30px;
		height: 5px;
		background-color: white;

		&:after{
			top: -1rem;
		}

		&:before{
			bottom: -1rem;
		}

		&:before,&:after{
			content: "";
			width: 30px;
			height: 5px;
			background-color:white;
			position: absolute;
			
		}
	}

	&.dos {
		margin-left: 10rem;
	}
}
}



section.navegacion{
	background: black;

	.container-fluid{
		.posicion-relativa{
		position: relative;
				img{
					position: relative;
			width: 100%;
			height: 544px;
			margin: 0px;
			opacity: 44%;	
			}	
		}
		.posicion-absoluta{
		position: absolute;
			background: gray;
			img{
				background-color: transparent;
				position: fixed;
				position: absolute;
				top: 23px;
				left: 127px;
				width: 209px;
				height: 50px;
			}		
		}	
		.container11{
			position: absolute;
			h1{
				color:transparent;
				margin-top: 215px;
				width: 722px;
				height: 58px;
				text-align: left;
				margin-bottom: 10rem;
				font-family: "otros";
				font-size: 50px;
				opacity:100%;
				border:10px;
				-webkit-text-stroke:1px;
				-webkit-text-stroke-color:rgba(245, 245, 245, 1);

			}
		}
		.container12{
			position: absolute;
			h1{
				color:transparent;
				margin-top: 294px;
				width: 722px;
				height: 58px;
				text-align: left;
				margin-bottom: 10rem;
				font-family: "otros";
				font-size: 50px;
				color:#FFFFFF;
				opacity: 100%;
			}
		}
		.container13{
			position: absolute;
			p{
				color:transparent;
				margin-top: 368px;
				width: 433px;
				height: 51px;
				text-align: left;
				margin-bottom: 10rem;
				font-family: "titulos";
				font-size: 15px;
				color:#FFFFFF;
				opacity: 100%;
			}
		}
		.container14{
			position: absolute;
			margin-top: 432px;
			span{
				color:transparent;
				width: 139px;
				height: 31px;
				text-align: left;
				margin-bottom: 10rem;
				font-family: "titulos";
				font-size: 20px;
				color:#FC8813;
				opacity: 100%;
			}
			img{
			margin-top: 5px;
			margin-left: 10px;
			width: 23px;
			height: 23px;
			position: absolute;
			background-color: transparent;
			}
		}
	}
}
//CUERPO///////////////////////////////////////////////////////////////////////////////////////////////////

.container-fluid100{
.abuelo {
	position: relative;
	background-color: gray;
	.bolitas{
		margin-top: 43px;
		margin-left: 190px;
		position: absolute;
		width: 11px;
		height: 12px;;
		border-radius: 50%;
		background-color:#FC8813;

		&:after{
			top: -2rem;
		}

		&:before{
			bottom: -2rem;
		}

		&:before,&:after{
			background-color:#FC8813;
			content: "";
			width: 11px;
			height: 12px;
			position: absolute;
			border-radius: 50%;
			
		}
	}

	&.dos {
		margin-right: 10rem;
		}
	}
}

.container101{
		background-color: #2D4D76;
		width: 433px;
		height: 403px;
		position: absolute;
		margin-top: 125px;
		margin-left: 825px;
	}
.container102{
		background-color: transparent;
		width: 433px;
		height: 403px;
		position: absolute;
		margin-top: 140px;
		margin-left: 810px;
		img{
		width: 433px;
		height: 403px;
		}
		
	}
.container103{
		background-color: transparent;
		
		position: absolute;
		margin-top: 960px;
		margin-left: 806px;
		img{
		width: 422px;
		height: 535px;
		}
		
	}


.container104{
		background-color: transparent;
		position: absolute;
		margin-top: 1625px;
		margin-left: 693px;
		img{
		width: 535px;
		height: 273px;
		}
		p{
			font-size: 20px;
			font-family:"titulos"; 
			text-align: left;
			color:black;
			margin-top: 20px; 
		}
	
	}

.container-fluid105{
.abuelo {
	position: relative;
	background-color: gray;
	.bolitas{
		margin-top: 980px;
		margin-left: 190px;
		position: absolute;
		width: 11px;
		height: 12px;;
		border-radius: 50%;
		background-color:#FC8813;

		&:after{
			top: -2rem;
		}

		&:before{
			bottom: -2rem;
		}

		&:before,&:after{
			background-color:#FC8813;
			content: "";
			width: 11px;
			height: 12px;
			position: absolute;
			border-radius: 50%;
			
		}
	}

	&.dos {
		margin-right: 10rem;
		}
	}
}



.container-fluid106{
.abuelo {
	position: relative;
	background-color: gray;
	.bolitas{
		margin-top: 1635px;
		margin-left: 175px;
		position: absolute;
		width: 11px;
		height: 12px;;
		border-radius: 50%;
		background-color:#FC8813;

		&:after{
			top: -2rem;
		}

		&:before{
			bottom: -2rem;
		}

		&:before,&:after{
			background-color:#FC8813;
			content: "";
			width: 11px;
			height: 12px;
			position: absolute;
			border-radius: 50%;
			
		}
	}

	&.dos {
		margin-right: 10rem;
		}
	}
}






section.cuerpo1{
	.titulo1{
		h1{
			color:transparent;
			margin-top:20px;
			width: 722px;
			height: 58px;
			text-align: left;
			font-family: "otros";
			font-size: 35px;
			opacity:100%;
			-webkit-text-stroke:1px;
			-webkit-text-stroke-color:#2D4D76;

		}
	}
	.titulo2{
		h1{
			color:transparent;
			width: 722px;
			height: 58px;
			text-align: left;
			font-family: "otros";
			font-size: 35px;
			color:#2D4D76;
		}
	}
	.container1{
		margin-left: 80px;
		margin-top: 15px;
		img{
		background-color: transparent;
		width: 79px;
		height: 79px;
		}
		span{
			background-color: transparent;
			font-size: 18px;
			color: black;
			font-family: "titulos";
		}
	}
	.container2{
		margin-left: 80px;
		margin-top: 15px;
		img{
		background-color: transparent;
		width: 79px;
		height: 79px;
		}
		span{
			background-color: transparent;
			font-size: 18px;
			color: black;
			font-family: "titulos";
		}
	}
	.container3{
		margin-left: 80px;
		margin-top: 15px;
		img{
		background-color: transparent;
		width: 79px;
		height: 79px;
		}
		span{
			background-color: transparent;
			font-size: 18px;
			color: black;
			font-family: "titulos";
		}
	}
	.container4{
		margin-left: 80px;
		margin-top: 15px;
		img{
		background-color: transparent;
		width: 79px;
		height: 79px;
		}
		span{
			background-color: transparent;
			font-size: 18px;
			color: black;
			font-family: "titulos";
		}
	}
	.container5{
		margin-left: 80px;
		margin-top: 15px;
		img{
		background-color: transparent;
		width: 79px;
		height: 79px;
		}
		span{
			background-color: transparent;
			font-size: 18px;
			color: black;
			font-family: "titulos";
		}
	}
}


section.cuerpo2{
	background-color: #EFEFEF;
	width: 100%;
	height: 278px;
	.container-fluid{
		img{
			width: 134px;
			height: 97px;
			margin-top: 30px;
			margin-left: 150px;
		}
		p{
			color:#2D4D76;
			font-size: 20px;
			font-family: "titulos"; 
			text-align: center;
		}
	}
}

section.cuerpo3{
	.titulo1{
		h1{
			color:transparent;
			margin-top:20px;
			width: 722px;
			height: 58px;
			text-align: left;
			font-family: "otros";
			font-size: 35px;
			opacity:100%;
			-webkit-text-stroke:1px;
			-webkit-text-stroke-color:#2D4D76;

		}
	}
	.titulo2{
		h1{
			color:transparent;
			width: 722px;
			height: 58px;
			text-align: left;
			font-family: "otros";
			font-size: 35px;
			color:#2D4D76;
		}
	}
	p{
		margin-left:20px;
		color: #000000;
		font-size: 15px;
		text-align: left;
		font-family: "titulos";

	}
}



section.cuerpo4{
	background-color: #EFEFEF;
	width: 100%;
	height: 777px;
	.titulo1{
		h1{
			padding-top: 50px;
			color:transparent;
			margin-top:20px;
			margin-bottom: 30px;
			width: 722px;
			height: 58px;
			text-align: left;
			font-family: "otros";
			font-size: 35px;
			opacity:100%;
			-webkit-text-stroke:1px;
			-webkit-text-stroke-color:#2D4D76;


		}
	}
	.cuadros1{
	input{
		width: 310px;
		height: 48px;
		margin-left: 50px;
		margin-top: 25px;
		}
	}
	.cuadros2{
	input{
		width: 310px;
		height: 98px;
		margin-left: 50px;
		margin-top: 30px;
		}
	}
		.cuadros3{
	input{
		width: 209px;
		height: 52px;
		margin-left: 50px;
		margin-top: 30px;
		background-color: #2D4D76;
		color: #FFFFFF;
		font-size: 20px;
		border-radius: 50px;
		}
	}
}



//////final/////////////////////////////////////////////////////////////////////////////////////////

section.final{
	background-color: #2D4D76;
	height:100%;
	width: 100%;
	
	.container{
			img{
				background-color: transparent;
				width: 321px;
				height: 77px;
				opacity: 1;
				background-color: transparent no-repeat;
				margin-top: 30px;
				margin-left: 0px;
				margin-bottom: 20px;
	
		}	
	}
	.container2{
		background-color: transparent;
			span{
				margin-top: 30rem;
				background-color:transparent;
				color: white;
				font-size: 20px;
				font-family:"titulos";
			
			
		}
	}
	.container3{
		background-color: transparent;
			span{
				background-color: transparent;
				color: white;
				font-size: 20px;
				font-family:"titulos";
			
			
		}
	}
	.container4{
		background-color: transparent;
			span{
				background-color: transparent;
				color: white;
				font-size: 20px;
				font-family:"titulos";
			
			
		}
	}
	.container5{
		background-color: transparent;
			span{
				background-color:transparent;
				color: white;
				font-size: 20px;
				font-family:"titulos";
			
			
		}
		img{
			background-color: transparent;
			width: 31px;
			height: 31px;
			margin-right: 20px;

		}
	}

	.container6{
		.finales{
			p{
				margin-top: 80px;
				font-size: 15px;
				text-align: center;
				color:white;
				font-family: "titulos";

			}
		}
	}
}
	


